.place-order {
    margin-bottom: 10px;
    margin-top: -10px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.header-div {
    margin-bottom: 10px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.label-total {
    position: relative;
    top: 2px !important;
    height: 24px;
    font-size: large;
    font-weight: bold;
}

.placeorder {
    margin-left: 20px;
}

.header {
    font-size: 20px;
    font-weight: bold;
}

.back-icon {
    position: relative;
    top: 5px !important;
    cursor: pointer;
}