@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

$ionicons-font-path: "~ionicons/dist/fonts";

@import '_variables';
@import '_reset';
@import 'component-form';

.table-primary {
    background-color: $c31;
    ;

    &:hover {
        background-color: $c30;
    }
}

button {
    outline: none;

    &:hover {
        outline: none;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:visited {
        outline: none;
    }
}

.btn-primary {
    background-color: $c60;
    border-color: $c60;

    &:hover {
        background-color: $c61;
        border-color: $c61;
    }

    &:active {
        background-color: $c61 !important;
        border-color: $c61 !important;
    }

    &:focus {
        background-color: $c61;
        border-color: $c61;
    }

    &:visited {
        background-color: $c60;
        border-color: $c60;
    }
}

.btn-basic {
    background-color: $c00;
    border-color: $c00;

    &:hover {
        background-color: $c01;
        border-color: $c01;
    }

    &:active {
        background-color: $c01 !important;
        border-color: $c01 !important;
    }

    &:focus {
        background-color: $c01;
        border-color: $c01;
    }

    &:visited {
        background-color: $c00;
        border-color: $c00;
    }
}

.btn-info {
    background-color: $c70;
    border-color: $c70;

    &:hover {
        background-color: $c71;
        border-color: $c71;
    }
}

.btn-danger {
    background-color: $c80;
    border-color: $c80;

    &:hover {
        background-color: $c81;
        border-color: $c81;
    }
}

h3.header {
    height: 40px;
}

h2.header {
    color: $header-background;
    text-transform: capitalize;
}

.vw-100 {
    width: 100vw;
}

.body-header {
    margin-top: 3vh;
}

.pointer {
    cursor: pointer;
}



// Mat-table related styles - Start
$odd-row-color: #eee;
$even-row-color: #F2F8F8;
$row-deleted-color: #fbdcdc;

$hover-color: #C5EAEC;
$hover-deleted-color: #fbcaca;

$row-selection-color: #3fbac2;
$row-deleted-selection-color: #f7baba;

$header-color: #C5EAEC;
$paginator-color: #e2edee;


.mat-header-row {
    background-color: $header-color;
}

.mat-paginator {
    min-height: 50px;
    background-color: transparent;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, .12);
}

.mat-row:nth-child(even) {
    background-color: $odd-row-color;
}

.mat-row:nth-child(odd) {
    background-color: $even-row-color;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row.hovered {
    background: $hover-color;
}

.mat-row.deleted {
    background-color: #fee(253, 204, 204) !important;
}

.mat-row.highlighted {
    background: $row-selection-color;
}

.mat-header-cell {
    color: rgba(0, 0, 0, .54);
    font-weight: bolder;
    font-size: .85rem;
}

.mat-row.deleted {
    background-color: $row-deleted-color;
}

.mat-row.hovered-deleted {
    background: $hover-deleted-color;
}

.mat-row.highlighted-deleted {
    background: $row-deleted-selection-color;
}




.title-class {
    flex: 0 0 30%;
}

.action-btn {
    color: #1a3c40;
}


.id-class {
    flex: 0 0 75px;
}

.action-class {
    flex: 0 0 250px;
    justify-content: center;
}

.class-5-percent {
    flex: 0 0 5%;
}

.class-10-percent {
    flex: 0 0 10%;
}

.class-20-percent {
    flex: 0 0 20%;
}

.class-30-percent {
    flex: 0 0 30%;
}

.class-40-percent {
    flex: 0 0 40%;
}

.class-50-percent {
    flex: 0 0 50%;
}

.class-60-percent {
    flex: 0 0 60%;
}

.class-70-percent {
    flex: 0 0 70%;
}

.class-80-percent {
    flex: 0 0 80%;
}

// Mat-table related styles - End
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}