@import "../../../scss/styles.scss";

.navbar {
    background-color: #0d6efd; //$banner-background !important;

    .navbar-brand {
        color: $brand-color;

        &:hover {
            color: $brand-color-hover;
        }
    }

    .navbar-nav {
        .active {
            .nav-link {
                color: $banner-color-hover;
            }
        }

        .nav-link {
            color: #e1e1e1; //$banner-color;

            &:hover {
                color: $banner-color-hover;
            }
        }
    }
}

.logout {
    cursor: pointer;
}

.orders {
    cursor: pointer;
}