$c00: #f8f9fb;
$c01: #fff;

$c10: #1a3c40;
//$c10: #3e4049;

$c20: #144d53;
$c21: #0d3438;

$c30: #3fbac2;
$c31: #d2ecf9;

$c40: #e4eddb;

$c50: #ffffff;

$c60: #3E6D72;
$c61: #134B51;

$c70: #17a2b8;
$c71: #138496;

$c80: #ff6384;
$c81: #D1516C;


$banner-background: $c10;
$brand-color: $c50;
$brand-color-hover: $c30;
$banner-color: $c30;
$banner-color-hover: $c50;


$brand-color1: #ff6384;
$white: #ffffff;
$header-background: #077053;
$primary-color: #00bc8c;