.scheduler-border {
    width: auto !important;
    border: none;
    color: #666;
    font-size: 24px;
}

.btn-submit {
    margin-right: 10px;
}

.header-div {
    margin-bottom: 20px;
}

.header {
    font-size: 20px;
    font-weight: bold;

}

.back-icon {
    position: relative;
    top: 5px !important;
    cursor: pointer;
}