<div class="d-flex justify-content-center vw-100 mt-5">
    <div class="w-50">
        <form id="brandForm" #brandForm="ngForm" (ngSubmit)="onBrandSubmit(brandForm)">
            <mat-card>
                <legend class="scheduler-border">{{mode}} Brand</legend>

                <div class="m-3">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput #nameInput="ngModel" name="name"
                            [ngModel]="(brandDetails$ | async)?.brand" placeholder="Name" required>

                        <mat-error *ngif="!(nameInput.valid || (nameInput.pristine && !brandForm.submitted))">Brand name
                            is required.</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button mat-raised-button class="btn-primary mr-2">Save</button>
                        <button mat-raised-button class="btn-basic" (click)="onCancelClick()">Cancel</button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>